<div id="about-page">
    <div class="card" style="width: 18rem;" id="about-card">
        <img src="/adjust-grad.png" class="card-img-top" alt="LinkedIn Profile Pic">
        <div class="card-body" id="card-body">
            <h5 class="card-title">Anthony Alvarez</h5>
            <p class="card-text">I was born in Miami, Florida and I moved to Baton Rouge during Middle School. Finally, I graduated from Louisiana State University with a Bachelor's Degree in Computer Science and ended up training at Genspark. I love video gaming, watching shows, and going out with friends! Recently, i've gotten hooked on College Baseball after watching LSU win the Omaha World Series in 2023. Geaux Tigers!</p>
        </div>
    </div>
</div>