<div class="container-fluid" id="project-panel">
    <div class="card" style="width: 18rem;" id="profile-card">
        <img src="https://avatars.githubusercontent.com/u/101856161?s=400&u=547b7c060c0e9e0fbd4ac1733113a76cc7f79f53&v=4" class="card-img-top" alt="Flan">
        <div class="card-body" id="card-body">
            <h5 class="card-title">GitHub (PythonicRhythm)</h5>
            <p class="card-text">I primarily use GitHub to keep track of all my projects. I have projects from Louisiana State University, Training, and Work that can be viewed. I list some examples below if you're interested!</p>
            <a href="https://github.com/PythonicRhythm" class="btn btn-primary" id="gitlink-btn">Visit my Github!</a>
        </div>
    </div>
</div>